body {
  background: #81c0e2;
  color: #000000;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #080606;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #1b6fd7;
}

.site-header .navbar-nav .nav-link {
  color: 	#0d0303;
}

.site-header .navbar-nav .nav-link:hover {
  color: 	#080202;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #c8e5f4;
  padding: 50px 80px;
  border: 3px solid #282838;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #3470a9;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 150px;
  width: 500px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}